@page
@model CinemaWebAppRP_PVl321.Pages.Movies.CreateModel
@{
}
@* <h3>@Model.Message</h3>
<form method="post" asp-antiforgery="false">
	<div class="mb-3">
		<label for="Title" class="form-label">Titlel</label>
		<input type="text" class="form-control" id="Title" name="Title" placeholder="">
	</div>
	<div class="mb-3">
		<label for="Director" class="form-label">Director</label>
		<input type="text" class="form-control" id="Director" name="Director" placeholder="" />
	</div>
	<div class="mb-3">
		<label for="Style" class="form-label">Style</label>
		<input type="text" class="form-control" id="Style" name="Style" placeholder="" />
	</div>
	<div class="mb-3">
		<label for="ShortDescription" class="form-label">ShortDescription</label>
		<input type="text" class="form-control" id="ShortDescription" name="ShortDescription" placeholder="" />
	</div>
	<div class="col-auto">
		<button type="submit" class="btn btn-primary mb-3">Save</button>
	</div>
</form>
  *@



<h3>@Model.Message</h3>
<form method="post" asp-antiforgery="false">
	<div class="mb-3">
		<label for="Title" class="form-label">Titlel</label>
		<input type="text" class="form-control" id="Title" name="Title" placeholder="">
	</div>
	<div class="mb-3">
		<label for="Director" class="form-label">Director</label>
		<input type="text" class="form-control" id="Director" name="Director" placeholder="" />
	</div>
	<div class="mb-3">
		<label for="Style" class="form-label">Style</label>
		<input type="text" class="form-control" id="Style" name="Style" placeholder="" />
	</div>
	<div class="mb-3">
		<label for="ShortDescription" class="form-label">ShortDescription</label>
		<input type="text" class="form-control" id="ShortDescription" name="ShortDescription" placeholder="" />
	</div>
	<div class="col-auto">
		<button type="submit" class="btn btn-primary mb-3">Save</button>
	</div>
</form>